#root {
    display: flex;
    flex-direction: column;
}

.App {
    background: black;
    
}

.header {
    margin: 0 auto;
    text-align: center;
    background: black;
}

h1 {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
}

.SearchForm {
    background-color: grey;
    text-align: center;
    
}

.SearchForm__Form, .SearchForm__Buttons {
    display: row;
}

.AddFilter, .BookList, .ListApp {
    text-align: center;
}

.AddFilter {
    background: #a8dadc;
    padding: 0.5%;
}

.ListApp {
    display: flex;
    flex-direction: column;
}

.BookList {
    flex-direction: row;
}
